extends layout

block content
  h1 #{name} Flights
  p.lead (#{phone}) (#{email})
  hr
  .table-responsive
  table.table.table-hover
    thead.thead-dark
      tr
        th Flight Ref
        th From
        th To
        th Date
        th Departure
        th Arrival
        th
    tbody
      each event in events
        tr
          td #{event.flightRef}
          td #{event.from}
          td #{event.to}
          td #{event.date}
          td #{event.departure}
          td #{event.arrival}
          td
            a(href=event.link) BUY
