extends layout

block content
  h1 #{name} Flights
  p.lead (#{phone}) (#{email})
  hr
  .table-responsive
  table.table.table-hover
    thead.thead-dark
      tr
        th Flight Ref
        th From
        th To
        th Date
        th Departure
        th Arrival
        th
    tbody
      each user in data
        tr
          td #{user.flightRef}
          td #{user.from}
          td #{user.to}
          td #{user.date}
          td #{user.departure}
          td #{user.arrival}
          td
            a(href='\#{user.link}') BUY
