extends layout

block content
  style
    include home.css
  if !user
    h1.pretty-heading
      center Social Flying
    hr
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        .offset-md-3.col-md-7.pl-2
          a.btn.btn-block.btn-google.btn-social(href='/auth/google')
            i.fab.fa-google.fa-xs
            | Sign in with Google
  else
    h1 Friends
    p.lead Friends who are using the Social flying app
    hr
    .table-responsive
    table.table.table-hover
      thead.thead-dark
        tbody
          each val in users
            tr
              td
                img(src=val.img_url)
              td.list_name
                a(href='/#' + val.id)
                  p #{val.name}

    //ul
    //  each val in #{users}
    //  li = #{val.name}


